/* theme-color */

.scroll-top {
  background: #eb6753;
}

.mobile-menu .contact-info ul li a:hover {
  color: #eb6753;
}

.mobile-menu .social-links li a:hover {
  color: #eb6753;
}

.switcher .switch_btn button {
  background: #eb6753;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a {
  color: #eb6753 !important;
}

.main-menu .navigation > li > ul {
  border-top: 3px solid #eb6753;
}

.main-menu .navigation > li > ul > li > a:hover {
  color: #eb6753;
}

.main-menu .navigation li.current.dropdown .dropdown-btn,
.main-menu .navigation li:hover .dropdown-btn {
  color: #eb6753;
}

.main-menu .navigation > li > ul > li > ul {
  border-top: 3px solid #eb6753;
}

.header-top .info li a:hover {
  color: #eb6753;
}

.header-top .info li i {
  color: #eb6753;
}

.header-top .social-links li a:hover {
  color: #eb6753;
}

.header-top .sign-box a:hover {
  color: #eb6753;
}

.header-top .sign-box a i {
  color: #eb6753;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover {
  color: #eb6753;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #eb6753;
}

.main-menu .navigation > li.dropdown > .megamenu {
  border-top: 3px solid #eb6753;
}

.main-menu .navigation > li > a:before {
  background-color: #eb6753;
}

.theme-btn.btn-one {
  background-color: #eb6753;
  border: 2px solid #eb6753;
}

.search-field .top-search .search-btn button {
  background-color: #eb6753;
}

.search-field .tab-btn-box li.active-btn {
  background-color: #eb6753;
}

.ui-slider-horizontal .ui-slider-range {
  background-color: #eb6753;
}

.ui-slider .ui-slider-handle {
  background-color: #eb6753;
}

.search-field .advanced-search .range-box input {
  color: #eb6753;
}

.category-block-one .inner-box:before {
  background-color: #eb6753;
}

.sec-title h5 {
  color: #eb6753;
}

.feature-block-one .inner-box .lower-content .author-info .buy-btn a:hover {
  background-color: #eb6753;
}

.feature-block-one .inner-box .lower-content .title-text h4 a:hover {
  color: #eb6753;
}

.feature-block-one .inner-box .lower-content .price-box .price-info h4 {
  color: #eb6753;
}

.feature-block-one
  .inner-box
  .lower-content
  .price-box
  .other-option
  li
  a:hover {
  background-color: #eb6753;
  border-color: #eb6753;
}

.theme-btn.btn-two:hover {
  border-color: #eb6753;
}

.theme-btn.btn-two:before {
  background-color: #eb6753;
}

.deals-block-one .inner-box .lower-content .title-text h4 a:hover {
  color: #eb6753;
}

.deals-block-one .inner-box .lower-content .other-option li a:hover {
  background-color: #eb6753;
  border-color: #eb6753;
}

.deals-block-one .inner-box .lower-content .price-box .price-info h4 {
  color: #eb6753;
}

.nav-style-one .owl-nav button:hover {
  background-color: #eb6753 !important;
  border-color: #eb6753 !important;
}

.testimonial-block-one .inner-box .author-info h4 {
  color: #eb6753;
}

.place-block-one .inner-box .text h4 a:hover {
  color: #eb6753;
}

.team-block-one .inner-box .lower-content .inner h4 a:hover {
  color: #eb6753;
}

.team-block-one .inner-box .lower-content .inner .social-links li a:hover {
  border-color: #eb6753;
  background-color: #eb6753;
}

.theme-btn.btn-three:before {
  background-color: #eb6753;
}

.theme-btn.btn-three:hover {
  border-color: #eb6753;
}

.news-block-one .inner-box .lower-content h4 a:hover {
  color: #eb6753;
}

.news-block-one .inner-box .lower-content .post-info li.author-box h5 a:hover {
  color: #eb6753;
}

.bg-color-3 {
  background-color: #eb6753;
}

.footer-top a:hover {
  color: #eb6753;
}

.footer-top .links-widget .links-list li a:hover:before {
  background-color: #eb6753;
}

.footer-top .contact-widget .info-list li i {
  color: #eb6753;
}

.footer-bottom a:hover {
  color: #eb6753;
}

.main-header .menu-right-content .sign-box a:hover {
  color: #eb6753;
}

.main-header .menu-right-content .sign-box a i {
  color: #eb6753;
}

.banner-carousel .owl-dots .owl-dot.active span,
.banner-carousel .owl-dots .owl-dot span:hover {
  background-color: #eb6753;
}

.dots-style-one .owl-dots .owl-dot.active span,
.dots-style-one .owl-dots .owl-dot span:hover {
  background-color: #eb6753 !important;
}

.deals-style-two .image-box .buy-btn a:hover {
  background-color: #eb6753;
}

.testimonial-block-two .inner-box .author-info h4 {
  color: #eb6753;
}

.content_block_2 .content-box .place-list li a:hover {
  color: #eb6753;
}

.content_block_2 .content-box .place-list li a:hover span {
  color: #eb6753;
}

.content_block_2 .content-box .place-list li a h5:before {
  background-color: #eb6753;
}

.header-style-three .header-lower .main-menu .navigation > li.current > a,
.header-style-three .header-lower .main-menu .navigation > li:hover > a {
  background-color: #eb6753;
}

.search-field-section .tabs-content .tab-btns li.active-btn:before {
  border-color: #eb6753;
}

.search-field-section .tabs-content .tab-btns li.active-btn:after {
  background-color: #eb6753;
}

.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box {
  color: #eb6753;
}

.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box:before {
  background-color: #eb6753;
}

.funfact-block-one .inner-box .count-outer {
  color: #eb6753;
}

.pricing-block-one .pricing-table .table-header h2 {
  color: #eb6753;
}

.pricing-block-one .pricing-table .table-footer .link-btn {
  border: 2px solid #eb6753;
}

.pricing-block-one .pricing-table .table-footer .link-btn:hover {
  background-color: #eb6753;
}

.pricing-block-one .pricing-table:hover .table-header {
  background-color: #eb6753;
}

.contact-section .form-inner input:focus,
.contact-section .form-inner textarea:focus {
  border-color: #eb6753 !important;
}

.item-shorting .right-column .short-menu button:hover,
.item-shorting .right-column .short-menu button.on {
  border-color: #eb6753;
  background-color: #eb6753;
}

.pagination li a:hover,
.pagination li a.current {
  border-color: #eb6753;
  background-color: #eb6753;
}

.owl-item:nth-child(2n + 1) .feature-block-two .inner-box .icon-box {
  color: #eb6753;
}

.owl-item:nth-child(2n + 1) .feature-block-two .inner-box .icon-box:before {
  background-color: #eb6753;
}

.image_block_2 .image-box .text h2 {
  color: #eb6753;
}

.testimonial-block-three .inner-box h5 {
  color: #eb6753;
}

.news-block-two .inner-box .content-box .post-info li.author-box h5 a:hover {
  color: #eb6753;
}

.news-block-two .inner-box .content-box h4 a:hover {
  color: #eb6753;
}

.page-title .bread-crumb li a:hover {
  color: #eb6753;
}

.default-sidebar .category-widget .category-list li a:hover {
  color: #eb6753;
}

.default-sidebar .category-widget .category-list li a:hover:before {
  border-color: #eb6753;
}

.default-sidebar .category-widget .category-list li a:hover:after {
  background-color: #eb6753;
}

.agents-block-one .inner-box .content-box .title-inner a:hover {
  color: #eb6753;
}

.agents-block-one .inner-box .content-box .social-list li a:hover {
  border-color: #eb6753;
  background: #eb6753;
}

.agents-block-one .inner-box .content-box .info li i {
  color: #eb6753;
}

.agents-block-one .inner-box .content-box .info li a:hover {
  color: #eb6753;
}

.agents-block-two .inner-box:hover .image-box {
  border-color: #eb6753;
}

.agents-block-two .inner-box .content-box .title-inner a:hover {
  color: #eb6753;
}

.agents-block-two .inner-box .content-box .info li a:hover {
  color: #eb6753;
}

.agents-block-two .inner-box .content-box .info li i {
  color: #eb6753;
}

.agent-details-page .tab-btn-box .tab-btns li.active-btn:before {
  border-color: #eb6753;
}

.agent-details-page .tab-btn-box .tab-btns li.active-btn:after {
  background-color: #eb6753;
}

.agent-details-page .tab-btn-box .tab-btns li.active-btn {
  color: #eb6753;
}

.agent-details-page .deals-block-one .image-box .buy-btn a:hover {
  background-color: #eb6753;
}

.default-form input:focus,
.default-form textarea:focus {
  border-color: #eb6753 !important;
}

.page-title-two .bread-crumb li:last-child {
  color: #eb6753;
}

.page-title-two .bread-crumb li a:hover {
  color: #eb6753;
}

.property-page-section .deals-block-one .image-box .buy-btn a:hover {
  color: #eb6753;
}

.default-sidebar .price-filter .input input {
  color: #eb6753;
}

.property-details .top-details .right-column .price-inner .price-box h3 {
  color: #eb6753;
}

.property-details .top-details .right-column .other-option li a:hover {
  background-color: #eb6753;
  border-color: #eb6753;
}

.property-details .carousel-inner .owl-nav button:hover {
  background-color: #eb6753;
}

.property-details-content .amenities-box .list li:before {
  border: 2px solid #eb6753;
}

.property-details-content .amenities-box .list li:after {
  background-color: #eb6753;
}

.accordion-box .block .acc-btn.active h5 {
  color: #eb6753;
}

.accordion-box .block .acc-btn.active .icon-outer {
  color: #eb6753;
}

.property-details-content .nearby-box .single-item .icon-box {
  background-color: #eb6753;
}

.property-details-content .form-group input:focus,
.property-details-content .form-group textarea:focus {
  border-color: #eb6753 !important;
}

.property-sidebar .author-widget .author-box .inner .info li i {
  color: #eb6753;
}

.property-sidebar .author-widget .author-box .inner .info li a {
  color: #eb6753;
}

.property-sidebar .author-widget .author-box .btn-box a {
  color: #eb6753;
  border: 1px solid #eb6753;
}

.property-sidebar .author-widget .author-box .btn-box a:hover {
  background-color: #eb6753;
}

.property-details-three
  .slider-content
  .slider-pager
  .thumb-box
  li
  figure:after {
  border-color: #eb6753 !important;
}

.faq-sidebar .form-inner input:focus,
.faq-sidebar .form-inner textarea:focus {
  border-color: #eb6753 !important;
}

.pricing-section .tab-btns li:before {
  background-color: #eb6753;
}

.pricing-section .tab-btns:before {
  border: 2px solid #eb6753;
}

.properties-section th .price {
  color: #eb6753;
}

.sortable-masonry .filters .filter-tabs li:hover,
.sortable-masonry .filters .filter-tabs li.active {
  background-color: #eb6753;
  border-color: #eb6753;
}

.myprofile-section .tab-btns li.active-btn {
  color: #eb6753;
}

.myprofile-section .tab-btns li.active-btn span {
  background-color: #eb6753;
  border-color: #eb6753;
}

.myprofile-section h4 i {
  color: #eb6753;
}

.myprofile-section
  .other-option
  .radio-box
  input[type="radio"]:checked
  + label
  span:before {
  border-color: #eb6753;
}

.myprofile-section
  .other-option
  .radio-box
  input[type="radio"]:checked
  + label
  span:after {
  background-color: #eb6753;
}

.myprofile-section
  .other-option
  .radio-box
  input[type="radio"]:checked
  + label {
  color: #eb6753;
}

.ragister-section .inner-box .othre-text p a {
  color: #eb6753;
}

.ragister-section .tab-btn-box .tab-btns li.active-btn {
  background-color: #eb6753;
}

.info-block-one .inner-box p a:hover {
  color: #eb6753;
}

.info-block:nth-child(2) .info-block-one .inner-box .icon-box:before {
  background-color: #eb6753;
}

.info-block:nth-child(2) .info-block-one .inner-box .icon-box {
  color: #eb6753;
}

.blog-sidebar .sidebar-widget .search-inner .form-group button {
  background-color: #eb6753;
}

.blog-sidebar .sidebar-widget .search-inner .form-group input:focus {
  border-color: #eb6753 !important;
}

.blog-sidebar .category-widget .category-list li a:hover {
  color: #eb6753;
}

.blog-sidebar .post-widget .post h5 a:hover {
  color: #eb6753;
}

.blog-sidebar .tags-widget .tags-list li a:hover {
  background-color: #eb6753;
  border-color: #eb6753;
}

.news-block-one .inner-box .lower-content h3 a:hover {
  color: #eb6753;
}

.blog-details-content
  .news-block-one
  .inner-box
  .lower-content
  .text
  blockquote {
  border-left: 3px solid #eb6753;
}

.blog-details-content
  .news-block-one
  .inner-box
  .lower-content
  .text
  blockquote
  h4 {
  color: #eb6753;
}

.blog-details-content .post-tags .tags-list li a:hover {
  background-color: #eb6753;
  border-color: #eb6753;
}

.blog-details-content .comments-area .comment .text a:hover {
  color: #eb6753;
}
